/***************common style***************/
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

.clear {
	clear: both;
}
/***************common style***************/
/***************header style***************/
header {
	width: 100%;
	height: 100px;
	background-image: url("../../images/head.png");
}
/***************header style***************/
/***************main style***************/
main {
	width: 80%;
	height: 830px;
	margin: 0 auto;
	background: #f2f2f2;
}
/***************main_t style***************/
.main_t {
	width: 100%;
	height: 190px;
	margin-top: 10px;
}

.images {
	width: 16%;
	height: 190px;
	float: left;
	overflow: hidden;
}

.message {
	width: 83%;
	height: 120px;
	float: right;
	margin-top: 4%;
	background: white;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b {
	width: 100%;
	height: 630px;
}

.main_b_l {
	width: 16%;
	height: 630px;
	background: white;
	margin-top: 10px;
	margin-left: 1px;
	float: left;
}

.nav1 {
	width: 100%;
	height: 60px;
	margin-bottom: 2px;
	text-align: center;
	line-height: 60px;
	position: relative;
}

.nav1 p img {
	position: absolute;
	top: 10px;
	left: 18px;
}

.main_b_r {
	width: 82%;
	margin-top: 10px;
	background: white;
	float: right;
	margin-right: 10px;
}

#k2 {
	display: none;
}

#r2 {
	width: 82%;
	height: 630px;
	margin-top: 10px;
	background: white;
	float: right;
	margin-right: 1px;
	display: none;
}

#r2 table tr {
	border: 1px solid #f2f2f2;
}

#r3122 . {
	width: 82%;
	height: 630px;
	margin-top: 10px;
	background: white;
	float: right;
	margin-right: 1px;
	display: none;
}

#t2 {
	display: none;
}

#t3 {
	display: none;
}

#t4 {
	display: none;
}

#r5 {
	width: 82%;
	height: 630px;
	margin-top: 10px;
	background: white;
	float: right;
	margin-right: 1px;
	display: none;
}

#g2 {
	width: 100%;
	height: 630px;
	background: white;
	display: none;
}

.outer {
	width: 100%;
	height: 30px;
	/*background:green;*/
}

.qr {
	width: 70px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	background: orange;
	color: white;
}

.qx {
	width: 70px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	margin-left: 70px;
	background: orange;
	color: white;
}

.hr {
	width: 100%;
	height: 2px;
	background: #00bc9b;
}

.main_b_r_t {
	width: 100%;
	height: 58px;
}

.courseExpand {
	width: 120px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	float: left;
	background: #00bc9b;
}

.SIAE {
	width: 120px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	float: left
}

.IURP {
	width: 120px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	float: left
}

.GDFCS {
	width: 120px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	float: left
}

.AOCSC {
	width: 120px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	float: left
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
footer {
	overflow: hidden;
	width: 100%;
	height: 110px;
	background-image: url("../../images/bottom.png");
	margin-top: 1%;
}
/***************footer style***************/