/* <<<<<<< HEAD
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    width:80%;
    height:800px;
    background:#f2f2f2;
    margin:0 auto;
    padding-top:20px;
}
.sx{
    width:80%;
    height:30px;
    background:red;
    margin:0 auto;
}
.sx_r{
    width:35%;
    height:30px;
    float:right;
    background:yellow;
}

.table{
    width:80%;
    height:700px;
    background:white;
}
.b1{
    width:764px;
    height:125px;
    margin-bottom:4px;
    padding:5px;
    background:yellow;
}
.b1_l{
    width:222px;
    height:125px;
    float:left;
    background:yellow;
}
.b1_r{
    width: 520px;
    height:110px;
    float:right;
    margin-top:15px;
    background:red;
}
.h{
    font-size:18px;
}
.p1{
    font-size:13px;
    color:gray;
    margin-top:4px;
}
.p2{
    font-size:13px;
    color: #17c2ff;
    margin-top:4px;
======= */
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    width:80%;
    height:800px;
    background:#f2f2f2;
    margin:0 auto;
    padding-top:20px;
}
.sx{
    width:80%;
    height:30px;
    /*background:red;*/
    margin:0 auto;
}
.sx_r{
    width:35%;
    height:30px;
    float:right;
    /*background:yellow;*/
}

.table{
    width:80%;
    height:700px;
    background:white;
}
.b1{
    width:764px;
    height:125px;
    margin-bottom:4px;
    padding:5px;
    /*background:yellow;*/
}
.b1_l{
    width:222px;
    height:125px;
    float:left;
    /*background:yellow;*/
}
.b1_r{
    width: 520px;
    height:110px;
    float:right;
    margin-top:15px;
    /*background:red;*/
}
.h{
    font-size:18px;
}
.p1{
    font-size:13px;
    color:gray;
    margin-top:4px;
}
.p2{
    font-size:13px;
    color: #17c2ff;
    margin-top:4px;
}