.body {
	padding: 0px;
	background-color: #E8EBF0;
}

.content {
	margin-left: 10%;
	width: 80%;
	height: 100%;
}

.introduceContent {
	margin-top: 0%;
}

.bottomColumn {
	margin-top: 2%;
}

.footer {
	overflow: hidden;
	width: 100%;
	height: 117px;
	background-image: url("../../images/bottom.png");
	margin-top: 1%;
}