.body {
	background-color: #E8EBF0;
}

.content {
	margin-left: 10%;
	width: 80%;
	height: 100%;
}

.rightSearch {
	margin: 0;
}

.bottomColumn {
	margin-top: 2%;
}

.infoContent {
	font-size: 14px;
	color: black;
}

.infoContent p {
	margin: 2px;
	padding: 0px;
}

.chengguo-out {
	height: 20%;
}

.achievementTitle {
	margin-top: 4%;
}

.description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 15px;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	color: gray;
}

.titleStyle {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 15px;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	color: black;
}

.publishTime {
	color: #b4b4b4;
	font-size: 13px;
}

.footer {
	overflow: hidden;
	width: 100%;
	height: 117px;
	background-image: url("../../images/bottom.png");
	margin-top: 1%;
}