*{
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
/*------------------------------head  start ----------------------------------------*/
/* header{
    width: 100%;
    height: 120px;
    background: url("../img/head.png") no-repeat;
    background-size: cover;
    margin-top: 1%;
    position: relative;
} */

/*---------------登录------------------*/
/* header span{
    width: 30%;
    float: right;
    text-align: center;
    line-height: 30px;
    margin-top: 1%;
}
header span li{
    width: 11%;
    float: left;
    color: white;
    margin-right: 1%;
    margin-left:1%;
    line-height: 30px;
}
header span li a{
    color: white;
    font-size: 14px;
}
header span li:nth-child(1){
    position: relative;
} */
.erweima{
    width: 130px;
    position: absolute;
    padding: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}
.li1:hover .erweima{
    display: block;
}
/* header span li a:hover{
    text-decoration: underline;
}
header span li:nth-child(5){
    position: relative;
} */


/*--------------导航---------------*/

/*------------------------------head  end ----------------------------------------*/
/*------------------------------banner start ----------------------------------------*/
.banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
     top:-10px;
}

/*--------------灰色小矩形（轮播）---------------*/
.square{
    position: absolute;
    bottom: 2%;
    left: 38%;
    width: 30%;
    height: 10px;
}
.square1{
    width: 20%;
    height: 10px;
    float: left;
    background-color: #575757;
    margin-right: 3%;
    text-align: center;
}
/*------------------------------banner end ----------------------------------------*/
/*------------------------------main start----------------------------------------*/
main {
    width: 100%;
    background: #F0F0F0;
    float: left;
    margin-bottom: 1%;
}

/*-----------------课程（table）--------------------*/
.course{
    width: 90%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.course span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    line-height: 40px;
    margin-right: 1%;
}
.course a{
    color: #6383bf;
}
.course a:hover{
    text-decoration: underline;
    color: #3e537c;
}
.course table{
    width: 100%;
}
/*---每个课程所在的盒子-----*/
.jidixiangmu-li{
    color: black;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 5%;
    float: left;
    margin-bottom:5%;
    background: #f6f6f6;
}

/*------------------每个表格下的文字框---------------------*/
.title{
    margin-left: 4%;
}

/*----------------------明星学生（li）--------------------------*/
.touxiang{
    width:90%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: #f6f6f6;
    float: left;
}
.touxiang span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    line-height: 40px;
    margin-right: 1%;
}
.touxiang span a{
    color: #6383bf;
}
.touxiang span a:hover{
    text-decoration: underline;
    color: #3e537c;
}
.touxiang  nav{
    width: 100%;
    margin-top: 2%;
    /*margin-bottom: 4%;*/
}
.touxiang nav li{
    width: 10%;
    margin-right: 2%;
    float: left;
}
.touxiang nav li:nth-child(1){
    margin-left: 2%;
}
/*---学生所在的盒子----*/
.touxiang-out{
    color: black;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    margin-left: 10%;
}
.touxiang-int img{
    border-radius: 50%;
    transform: scale(1.2,1.2);
    overflow: hidden;
}

/*-------------学生成果（table）----------------*/
.chengguo{
    width:90%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    margin-top: 2%;
    margin-bottom: 1%;
}
.chengguo span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    line-height: 40px;
    margin-right: 1%;
}
.chengguo a{
    color: #6383bf;
}
.chengguo a:hover{
    text-decoration: underline;
    color: #3e537c;
}
.chengguo table{
    width: 105%;
}
/*----成果所在的盒子-----*/
.chengguo-out{
    color: black;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 5%;
    float: left;
    margin-bottom:5%;
    padding: 5%;
    background: #f6f6f6;
}

/*----------------产学研项目（table）----------------------*/
.xiangmu{
    width:64%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin-left: 5%;
    background: #f6f6f6;
    float: left;
}
.xiangmu span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    line-height: 40px;
}
.xiangmu a{
    color: #6383bf;
}
.xiangmu a:hover{
    text-decoration: underline;
    color: #3e537c;
}
.xiangmu table{
    width: 103%;
}
/*-----每个项目所在的盒子----*/
.xiangmu-out{
    color: black;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 5%;
    float: left;
    margin-bottom:5%;
    padding-left: 5%;
    background: #f6f6f6;
}

/*---------------教师排行榜(li)-----------------*/
.teacher{
    width:20%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 3%;
    margin-right: 5%;
    background: #f6f6f6;
    float: right;
    padding-left: 2%;
}
.teacher span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    margin-right: 5%;
    line-height: 40px;
}
.teacher a{
    color: #6383bf;
}
.teacher a:hover{
    text-decoration: underline;
    color: #3e537c;
}
/*---每个教师所在的盒子-----*/
.teacher-out{
    width: 90%;
    float: left;
    height: 76px;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
}
.teacher-out .rel-img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
}
.teacher-out .infor{
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 30px;
    margin-left: 30%;
}

/*--------------------------------------热帖------------------------------------*/
.post{
    width:90%;
    color: #009BE2;
    font-size: 34px;
    font-weight: bold;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    /*background: #f6f6f6;*/
    float: left;
}
.post span{
    float: right;
    font-size: 16px;
    font-family: "微软雅黑 Light";
    line-height: 40px;
    margin-right: 1%;
}
.post span a{
    color: #6383bf;
}
.post span a:hover{
    text-decoration: underline;
    color: #3e537c;
}
.post nav {
    width: 100%;
}
/*-----------------每个帖子所在的li-------------------*/
.post nav li{
    width:99%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 0.5%;
    background: #f6f6f6;
}
/*-------热帖的上面一行--------*/
.post-out{
    width: 100%;
    margin-top: 1%;
    /*background: deepskyblue;*/
    float: left;
}
.post-out img{
    float: left;
    /*margin-left: 1%;*/
}
.post-out a{
    float: left;
    line-height: 18px;
    font-size: 18px;
    color: #9e9e9e;
    margin-left: 1%;
}
.post-out span {
    float: left;
    line-height: 20px;
    margin-left: 2%;
    color: #9e9e9e;
}
/*-----------帖子的标题----------*/
.post-inner{
    width: 100%;
    float: left;
}
.post-inner span{
    float: right;
    line-height: 40px;
    color: #4d4d4d;
    margin-right: 2%;
}
.post-inner a{
    color: black;
    margin-left: 3%;
    font-size: 18px;
}
.post-inner a:hover{
    color: blue;
    text-decoration: underline;
}
/*------------------------------main end ----------------------------------------*/
/*------------------------------footer start ----------------------------------------*/
footer{
    width: 100%;
    background: #333333;
    float:left;
    /*height: 100px;*/
}
footer .footer-img{
    width: 130px;
    height: 130px;
    padding: 1%;
    background: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
footer nav{
    width: 90%;
    height: 60px;
    margin-top: 2%;
    margin-left: 15%;
}
footer nav li{
    float: left;
    width: 11%;
    line-height: 30px;
}
footer nav li a{
    color: white;
}
footer nav li a:hover{
    color: blue;
}
/*------------------------------footer end ----------------------------------------*/
