<<<<<<< HEAD
/***************common style***************/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
/***************common style***************/
/***************header style***************/
header
{
    width:80%;
    height:60px;
    margin:0 auto;
    background:#f2f2f2;
    text-align:center;
}
/***************header style***************/
/***************main style***************/
main{
    width:80%;
    height:1100px;
    margin:0 auto;
    background:#fffbf4;
}
/***************main_t style***************/
main .main_t{
    width:90%;
    height:200px;
    margin:0 auto;
    padding-top:10px;
}
main .main_t .img{
    width:30%;
    height:180px;
    float:left;
}
main .main_t .word{
    width:68%;
    height:100px;
    float:right;
}
.summery{
    width:100%;
    height:80px;
    margin-top:10px;
}
.button{
    width:25%;
    height:50px;
    background:orange;
    text-align:center;
    line-height:50px;
}
.button a{
    color:white;
    font-size:24px;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b{
    width:90%;
    height:740px;
    margin:0 auto;
    padding-top:20px;
}
.main_b_t{
    width:100%;
    height:40px;
    background:white;
}
.main_b_t nav{
    width:30%;
    height:40px;
}
.main_b_t li{
    width:24%;
    height:40px;
    float:left;
    margin-right:1%;
    text-align:center;
    line-height:40px;
}
.main_b_t li:nth-child(4){
    margin-right:0;
}
.main_b_b{
     width:100%;
    height:800px;
    margin:0 auto;
    padding-top:20px;
}
.main_b_b .friend{
    width:33%;
    height:600px;
    float:right;
    background:white;
}
.main_b_b .friend .h3{
    width:100%;
    height:40px;
    text-align:center;
    background:#dafffa;
    line-height:40px;
}
.main_b_b .friend .teacher{
    width:100%;
    height:90px;
    margin-top:5px;
}
.main_b_b .friend .teacher .img {
    width: 28%;
    height: 90px;
    float: left;
    margin-left:10%;
}
.main_b_b .friend .teacher .word{
   width:60%;
    height:70px;
    float:right;
    padding-top:20px;
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
footer{
    width:80%;
    height:50px;
    background:#cacaca;
    margin:0 auto;
}
/***************footer style***************/
=======
/***************common style***************/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
/***************common style***************/
/***************header style***************/
header
{
    width:80%;
    height:60px;
    margin:0 auto;
    background:#f2f2f2;
    text-align:center;
}
/***************header style***************/
/***************main style***************/
main{
    width:80%;
    height:1100px;
    margin:0 auto;
    background:#fffbf4;
}
/***************main_t style***************/
main .main_t{
    width:90%;
    height:200px;
    margin:0 auto;
    padding-top:10px;
}
main .main_t .img{
    width:30%;
    height:180px;
    float:left;
}
main .main_t .word{
    width:68%;
    height:100px;
    float:right;
}
.summery{
    width:100%;
    height:80px;
    margin-top:10px;
}
.button{
    width:25%;
    height:50px;
    background:orange;
    text-align:center;
    line-height:50px;
}
.button a{
    color:white;
    font-size:24px;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b{
    width:90%;
    height:740px;
    margin:0 auto;
    padding-top:20px;
}
.main_b_t{
    width:100%;
    height:40px;
    background:white;
}
.main_b_t nav{
    width:30%;
    height:40px;
}
.main_b_t li{
    width:24%;
    height:40px;
    float:left;
    margin-right:1%;
    text-align:center;
    line-height:40px;
}
.main_b_t li:nth-child(4){
    margin-right:0;
}
.main_b_b{
     width:100%;
    height:800px;
    margin:0 auto;
    padding-top:20px;
}
.main_b_b .friend{
    width:33%;
    height:600px;
    float:right;
    background:white;
}
.main_b_b .friend .h3{
    width:100%;
    height:40px;
    text-align:center;
    background:#dafffa;
    line-height:40px;
}
.main_b_b .friend .teacher{
    width:100%;
    height:90px;
    margin-top:5px;
}
.main_b_b .friend .teacher .img {
    width: 28%;
    height: 90px;
    float: left;
    margin-left:10%;
}
.main_b_b .friend .teacher .word{
   width:60%;
    height:70px;
    float:right;
    padding-top:20px;
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
footer{
    width:80%;
    height:50px;
    background:#cacaca;
    margin:0 auto;
}
/***************footer style***************/
>>>>>>> ba23b36d13648be6805e6ab3770f5b9542927c76
