/************公共样式***********/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/************公共样式***********/
.all{
    width:100%;
    background:#f4f4f4;
}
/************header样式***********/
header{
    width:100%;
    height:60px;
    background:white;
    text-align:center;
    line-height:60px;
    margin-bottom:20px;
}
/************header样式***********/
/************main样式***********/
main{
    width:70%;
    height:700px;
    background:white;
    margin:0 auto;
    padding-top:5px;
}
main p{
    margin-left:25px;
    font-size:14px;
    margin-top:5px;
}
main .content{
    width:998px;
    height:86px;
    margin-left:25px;
    margin-top:10px;
    border:1px solid lightgray;
    padding:2px;
    overflow-y:scroll;
}
main .content:hover{
    border:1px solid gray;
}
.content span{
    font-size:14px;
    margin-left:4px;
}
.main_b{
    width:1002px;
    height:30px;
    margin-left:25px;
    margin-top:10px;
    position:relative;
}
.release{
    width:100px;
    height:20px;
    text-align:center;
    line-height:20px;
    background:orange;
    color:white;
    position:absolute;
    right:0;
    top:0;
    border-radius:8px;
}
.cancel{
    width:50px;
    height:20px;
    text-align:center;
    line-height:20px;
    background:orange;
    color:white;
    position:absolute;
    left:0;
    top:0;
    border-radius:8px;
}
/************main样式***********/
/************footer样式********/
footer{
    width:100%;
    height:40px;
    background:#2b2b2b;
    margin-top:10px;
}
/************footer样式********/