*{
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
.div1{
    width: 26%;
    height: 200px;
    background: rgb(225, 225, 225);
    float: left;
    margin-left: 35%;
    margin-top: 10%;
    padding-top: 2%;
    padding-left:3%;
}
span{
    font-size: 14px;
}
.div1 a{
    float: right;
    color: blue;
    font-size: 14px;
    margin-right: 15%;
}
.div1 a:hover{
    text-decoration: underline;
}
