<<<<<<< HEAD
<<<<<<< HEAD
*{
    margin: 0 auto;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
/*-------------------------------------header---------------------------------------------*/
.header{
    width: 80%;
    height: 80px;
    background: lightblue;
    float: left;
    margin-left: 10%;
}
/*-------------------------------------main---------------------------------------------*/
.main{
    width: 80%;
    float: left;
    /* margin-left: 10%; */
    background: #f2f2f2;
    margin-top:1%;
}
.main .input1{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input1 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input3 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3 select{
    width: 40%;
    height: 30px;
    float: left;
    margin-left: 2%;
}
.main hr{
    width: 80%;
    float: left;
    margin-left:10%;
    margin-top: 2%;
}
.main .teacher-friend{
    width: 60%;
    margin-left:20%;
    float:left;
    /*height: 200px;*/
    /*background: wh/ite;*/
    /*border: 1px solid #b9b9b9;*/
    margin-top: 2%;
}
.main .teacher-friend h3{
    margin-left:8%;
}
.friend{
    width: 79%;
    margin-left: 8%;
    float: left;
    /*height: 100px;*/
    background: white;
    border: 1px solid #b9b9b9;
    margin-top: 2%;
    padding: 1%;
}
.friend1 {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 12%;
    margin-bottom: 2%;
    background: lightblue;
}
.friend1 p{
    line-height: 20px;
    text-align: center;
}
.add{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 18px;
    float: right;
    margin-right: 5%;
    margin-top: 13%;
    background: orange;
}
.create{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: left;
    margin-left: 0;
    background: orange;
}
.delete{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: right;
    margin-right: 8%;
    background: orange;
}
.button{
    width: 46%;
    float: left;
    margin-left:27%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*background: deepskyblue;*/
}
/*-------------------------------------footer---------------------------------------------*/
.footer{
    width: 80%;
    height: 80px;
    float: left;
    margin-left: 10%;
    background: lightblue;
    margin-top: 1%;
=======
*{
    margin: 0 auto;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
/*-------------------------------------header---------------------------------------------*/
.header{
    width: 80%;
    height: 80px;
    background: lightblue;
    float: left;
    margin-left: 10%;
}
/*-------------------------------------main---------------------------------------------*/
.main{
    width: 80%;
    float: left;
    margin-left: 10%;
    background: #f2f2f2;
    margin-top:1%;
}
.main .input1{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input1 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input3 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3 select{
    width: 40%;
    height: 30px;
    float: left;
    margin-left: 2%;
}
.main hr{
    width: 80%;
    float: left;
    margin-left:10%;
    margin-top: 2%;
}
.main .teacher-friend{
    width: 60%;
    margin-left:20%;
    float:left;
    /*height: 200px;*/
    /*background: wh/ite;*/
    /*border: 1px solid #b9b9b9;*/
    margin-top: 2%;
}
.main .teacher-friend h3{
    margin-left:8%;
}
.friend{
    width: 79%;
    margin-left: 8%;
    float: left;
    /*height: 100px;*/
    background: white;
    border: 1px solid #b9b9b9;
    margin-top: 2%;
    padding: 1%;
}
.friend1 {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 12%;
    margin-bottom: 2%;
    background: lightblue;
}
.friend1 p{
    line-height: 20px;
    text-align: center;
}
.add{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 18px;
    float: right;
    margin-right: 5%;
    margin-top: 13%;
    background: orange;
}
.create{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: left;
    margin-left: 0;
    background: orange;
}
.delete{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: right;
    margin-right: 8%;
    background: orange;
}
.button{
    width: 46%;
    float: left;
    margin-left:27%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*background: deepskyblue;*/
}
/*-------------------------------------footer---------------------------------------------*/
.footer{
    width: 80%;
    height: 80px;
    float: left;
    margin-left: 10%;
    background: lightblue;
    margin-top: 1%;
>>>>>>> ba23b36d13648be6805e6ab3770f5b9542927c76
=======
*{
    margin: 0 auto;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
/*-------------------------------------header---------------------------------------------*/
.header{
    width: 80%;
    height: 80px;
    background: lightblue;
    float: left;
    margin-left: 10%;
}
/*-------------------------------------main---------------------------------------------*/
.main{
    width: 80%;
    float: left;
    /* margin-left: 10%; */
    background: #f2f2f2;
    margin-top:1%;
}
.main .input1{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input1 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}
.main .input3 span{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 8%;
}
.main .input3 select{
    width: 40%;
    height: 30px;
    float: left;
    margin-left: 2%;
}
.main hr{
    width: 80%;
    float: left;
    margin-left:10%;
    margin-top: 2%;
}
.main .teacher-friend{
    width: 60%;
    margin-left:20%;
    float:left;
    /*height: 200px;*/
    /*background: wh/ite;*/
    /*border: 1px solid #b9b9b9;*/
    margin-top: 2%;
}
.main .teacher-friend h3{
    margin-left:8%;
}
.friend{
    width: 79%;
    margin-left: 8%;
    float: left;
    /*height: 100px;*/
    background: white;
    border: 1px solid #b9b9b9;
    margin-top: 2%;
    padding: 1%;
}
.friend1 {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 12%;
    margin-bottom: 2%;
    background: lightblue;
}
.friend1 p{
    line-height: 20px;
    text-align: center;
}
.add{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 18px;
    float: right;
    margin-right: 5%;
    margin-top: 13%;
    background: orange;
}
.create{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: left;
    margin-left: 0;
    background: orange;
}
.delete{
    padding-left: 4%;
    padding-right: 4%;
    height: 30px;
    font-size: 18px;
    float: right;
    margin-right: 8%;
    background: orange;
}
.button{
    width: 46%;
    float: left;
    margin-left:27%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*background: deepskyblue;*/
}
/*-------------------------------------footer---------------------------------------------*/
.footer{
    width: 80%;
    height: 80px;
    float: left;
    margin-left: 10%;
    background: lightblue;
    margin-top: 1%;
>>>>>>> 8b686c47d14ac368571e08f4b308c03cc9fa9818
}