<<<<<<< HEAD
*{
    margin: 0 auto;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.clear{
    clear: both;
}
/*---------------------------------header----------------------------------------*/
.header{
    width: 80%;
    height: 80px;
    margin-left: 10%;
    background-color: deepskyblue;
}
/*---------------------------------banner----------------------------------------*/
.search{
    width: 40%;
    height: 30px;
    border: 1px solid  orange;
    margin-left: 30%;
    margin-top: 1%;
}
.banner{
    width: 76%;
    height: 130px;
    margin-left:10%;
    margin-top: 1%;
    border: 1px solid orange;
    padding: 2%;
}
.banner span{
    font-size: 20px;
    float: left;
}
.banner_t{
    width: 96%;
    margin-left: 0;
    height: 30px;
    overflow: hidden;
}
.banner li button{
    margin-right: 3%;
    margin-left: 3%;
    height: 30px;
    background: deepskyblue;
    font-size: 20px;
    color: white;
    float:left;
    border: 0;
    border-radius: 10%;
}
.banner_m {
    height: 30px;
    margin-top: 2%;
}
.banner_b{
    height: 30px;
    margin-top: 2%;
    overflow: hidden;
}
/*---------------------------------main----------------------------------------*/
.main{
    width: 76%;
    height: 600px;
    border: 1px solid grey;
    margin-top: 1%;
    padding: 2%;
}
.item{
    width: 8%;
    height: 30px;
    float: left;
    border-radius: 10%;
    background: gainsboro;
    padding-left: 10px;
}
.courses{
    width: 99%;
    float: left;
    /*background: red;*/
    padding-left: 1%;
}
.course{
    width: 23%;
    margin-right: 1%;
    margin-bottom: 2%;
    height: 160px;
    /*background: pink;*/
    border: 1px solid #80808073;
    padding-top: 1%;
    float:left;
}
.course img{
    margin-left: 4%;
}
.course p{
    margin-left: 4%;
}
/*---------------------------------main----------------------------------------*/
.footer{
    width: 80%;
    height: 50px;
    border:1px solid orange;
    margin-top: 1%;
=======
*{
    margin: 0 auto;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.clear{
    clear: both;
}
/*---------------------------------header----------------------------------------*/
.header{
    width: 80%;
    height: 80px;
    margin-left: 10%;
    background-color: deepskyblue;
}
/*---------------------------------banner----------------------------------------*/
.search{
    width: 40%;
    height: 30px;
    border: 1px solid  orange;
    margin-left: 30%;
    margin-top: 1%;
}
.banner{
    width: 76%;
    height: 130px;
    margin-left:10%;
    margin-top: 1%;
    border: 1px solid orange;
    padding: 2%;
}
.banner span{
    font-size: 20px;
    float: left;
}
.banner_t{
    width: 96%;
    margin-left: 0;
    height: 30px;
    overflow: hidden;
}
.banner li button{
    margin-right: 3%;
    margin-left: 3%;
    height: 30px;
    background: deepskyblue;
    font-size: 20px;
    color: white;
    float:left;
    border: 0;
    border-radius: 10%;
}
.banner_m {
    height: 30px;
    margin-top: 2%;
}
.banner_b{
    height: 30px;
    margin-top: 2%;
    overflow: hidden;
}
/*---------------------------------main----------------------------------------*/
.main{
    width: 76%;
    height: 600px;
    border: 1px solid grey;
    margin-top: 1%;
    padding: 2%;
}
.item{
    width: 8%;
    height: 30px;
    float: left;
    border-radius: 10%;
    background: gainsboro;
    padding-left: 10px;
}
.courses{
    width: 99%;
    float: left;
    /*background: red;*/
    padding-left: 1%;
}
.course{
    width: 23%;
    margin-right: 1%;
    margin-bottom: 2%;
    height: 160px;
    /*background: pink;*/
    border: 1px solid #80808073;
    padding-top: 1%;
    float:left;
}
.course img{
    margin-left: 4%;
}
.course p{
    margin-left: 4%;
}
/*---------------------------------main----------------------------------------*/
.footer{
    width: 80%;
    height: 50px;
    border:1px solid orange;
    margin-top: 1%;
>>>>>>> ba23b36d13648be6805e6ab3770f5b9542927c76
}