/***************common style***************/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
.clear{
    clear: both;
}
/***************common style***************/
/***************header style***************/

/***************header style***************/
/***************main style***************/
main{
    width:80%;
    height:830px;
    margin:0 auto;
    background:#f2f2f2;
}
/***************main_t style***************/
.main_t{
    width:100%;
    height:190px;
    margin-top:10px;
}
.images{
    width:15%;
    height:190px;
    float:left;
}
.message{
    width:84%;
    height:120px;
    float:right;
    margin-top:70px;
    background:white;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b{
    width:100%;
    height:630px;
}
.main_b_l{
    width:16%;
    height:630px;
    margin-top:10px;
    margin-left:1px;
    float:left;
    background:white;
}
.main_b_r{
    width: 82%;
    min-height: 110%;
    height:auto;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
    background-color: white;
}
.nav1{
    width:100%;
    height:60px;
    margin-bottom:2px;
    text-align:center;
    line-height:60px;
    position:relative;
}
.nav1 p img{
    position:absolute;
    left:10px;
    top:6px;
}
#r1{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
#k1{
    display:block;
}
#k2{
    width:100%;
    height:540px;
    display:none;
}
#k3{
    width:100%;
    height:540px;
    display:none;
}
#r2{
    width:100%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}
#r2 table tr{
    border:1px solid #f2f2f2;
}
#r3{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}

#r4{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}
#r5{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
.main_b_r_t{
    width:100%;
    height:58px;
}
.word1{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left;
    background:#00bc9b;
}
.word1 p{
    color:white;
}
.word1 a{
    color:white;
}
.word2{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word3{
    width:150px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word4{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.hr{
    width:100%;
    height:2px;
    background:#00bc9b;
}
.main_b_r_b{
    width:100%;
    height:540px;
}
.lesson{
    width:100%;
    height:130px;
    margin-top:10px;
}
.lesson_l{
    width:25%;
    height:130px;
    float:left;
}
.lesson_r{
    width:72%;
    height:130px;
    float:right;
}
.lesson_r p{
    margin-top:-10px;
}
.note{
    width:100%;
    height:100px;
    background:#fffbf4;
    margin-top:10px;
}
.note_l{
    width:9%;
    height:90px;
    float:left;
    padding-top:10px;
    padding-left:1%;
}
.note_r{
    width:90%;
    height:100px;
    float:right;
}
.note_r p{
    margin-top:3px;
}
.r5_t{
    width:100%;
    height:60px;
}
.r5_t .h3{
    width:30%;
    height:60px;
    text-align:center;
    line-height:60px;
    float:left;
}
.r5_t .h3 p{
    font-size:20px;
}
.r5_t .bj{
    width:10%;
    height:60px;
    margin-right:10px;
    background:orange;
    float:right;
    text-align:center;
    line-height:60px;
}
.r5_t .bj p{
    color:white;
}
.r5_b{
    width:80%;
    height:480px;
    margin:0 auto;
}
#g3{
    width:80%;
    height:480px;
    margin:0 auto;
    display:none;
}
.outer{
    width:100%;
    height:60px;
}
#qr{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    text-align:center;
    line-height:40px;
}
#qx{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    margin-left:80px;
    text-align:center;
    line-height:40px;
}
td{
	text-align:center;
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
/* footer{
    width:80%;
    height:60px;
    background:#f2f2f2;
    margin:0 auto;
} */
/***************footer style***************/

=======
/***************common style***************/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
.clear{
    clear: both;
}
/***************common style***************/
/***************header style***************/
header
{
    width:80%;
    height:60px;
    margin:0 auto;
    background:#f2f2f2;
    text-align:center;
}
/***************header style***************/
/***************main style***************/
main{
    width:80%;
    height:1500px;
    margin:0 auto;
    background:#f2f2f2;
}
/***************main_t style***************/
.main_t{
    width:100%;
    height:190px;
    margin-top:10px;
}
.images{
    width:15%;
    height:190px;
    float:left;
}
.message{
    width:84%;
    height:120px;
    float:right;
    margin-top:70px;
    background:white;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b{
    width:100%;
    height:1300px;
}
.main_b_l{
    width:16%;
    height:1300px;
    margin-top:10px;
    margin-left:1px;
    float:left;
    background:white;
}
.nav1{
    width:100%;
    height:60px;
    margin-bottom:2px;
    text-align:center;
    line-height:60px;
    position:relative;
}
.nav1 p img{
    position:absolute;
    left:10px;
    top:6px;
}
#r1{
    width:82%;
    height:1300px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
#k1{
    display:block;
}
#k2{
    width:100%;
    height:540px;
    display:none;
}
#k3{
    width:100%;
    height:540px;
    display:none;
}
#r2{
    width:82%;
    height:1300px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
   
}
#r2 table tr{
    border:1px solid #f2f2f2;
}
#r3{
    width:82%;
    height:1300px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}

#r4{
    width:82%;
    height:1300px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
#r5{
    width:82%;
    height:1300px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
    
}
.main_b_r_t{
    width:100%;
    height:58px;
}
.word1{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left;
    background:#00bc9b;
}
.word1 p{
    color:white;
}
.word1 a{
    color:white;
}
.word2{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word3{
    width:150px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word4{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.hr{
    width:100%;
    height:2px;
    background:#00bc9b;
}
.main_b_r_b{
    width:100%;
    height:740px;
}
.lesson{
    width:100%;
    height:130px;
    margin-top:10px;
}
.lesson_l{
    width:25%;
    height:130px;
    float:left;
}
.lesson_r{
    width:75%;
    height:130px;
    float:right;
}
.lesson_r p{
    margin-top:3px;
}
.note{
    width:100%;
    height:100px;
    background:#fffbf4;
    margin-top:10px;
}
.note_l{
    width:9%;
    height:90px;
    float:left;
    padding-top:10px;
    padding-left:1%;
}
.note_r{
    width:90%;
    height:100px;
    float:right;
}
.note_r p{
    margin-top:3px;
}
.r5_t{
    width:96%;
    height:60px;
    margin-left: 2%;
}
.r5_t .h3{
    width:20%;
    height:60px;
    text-align:center;
    line-height:60px;
    float:left;
}
.r5_t .h3 p{
    font-size:24px;
    font-weight: bold;
}
.r5_t .bj{
    width:15%;
    height:40px;
    margin-right:10px;
    background:#00bc9b;
    float:right;
    text-align:center;
    line-height:40px;
    margin-top: 10px;
    border-radius: 5%;
}
.r5_t .bj:hover{
    cursor: pointer;
}
.r5_t hr{
    width:100%;
    font-weight: bold;
    margin-bottom: 0;
}
.r5_t .bj p{
    color:white;
}
.r5_b{
    width:80%;
    height:480px;
    margin:0 auto;
}
.r5_b p{
    line-height: 30px;
    margin-top: 1%;
    color: rgba(0, 0, 0, 0.8);
}
.r5_b p:nth-child(1){
    margin-top: 2%;
}
#t5{
    width: 85%;
    padding-left: 15%;
    padding-top: 2%;
    font-size: 17px;
    line-height: 30px;
}
#t5 p{
    margin-bottom: 1%;
}
#t5 .span{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-size: 17px;
    background: orange;
    margin-left: 5%;
}
#t5 .span:hover{
    cursor: pointer;
}
#t6{
    width: 85%;
    padding-left: 15%;
    padding-top: 2%;
    font-size: 17px;
    line-height: 40px;
}
#t6 .bj{
    width: 10%;
    background: orange;
    text-align: center;
    color: white;
    font-size: 17px;
    margin-top: 2%;
    margin-left: 10%;
}
#t6 .bj:hover{
    cursor: pointer;
}
#t7{
    padding-top: 2%;
  
}
#t7 .xiangmu{
    width: 96%;
    margin-left: 2%;
    float: left;
    /*height: 80px;*/
    margin-bottom: 1.5%;
    background: #f5f1eb;
}
.xiangmu .add{
    float: right;
    margin-right: 3%;
    color: white;
    width: 6%;
    line-height: 22px;
    background: orange;
    text-align: center;
}
#t7 .xiangmu_1{
    font-size: 19px;
    font-weight: bold;
    margin-left: 1%;
}
.xiangmu .xiangmu_2{
    height: 130px;
    width: 100%;
}
#t7 hr{
    margin-top: 4px;
    margin-bottom: 8px;
}
#t7 .name{
    margin-top: 1%;
    width: 76%;
    float: left;
    margin-left: 10%;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 2%;
}
#t7 .time{
    width: 86%;
    margin-left: 16%;
}
#t7 .time li{
    float: left;
    line-height: 26px;
    font-size: 15px;
    margin-right: 7%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    color: #656565
}
.li_1{
    width: 100%;
}
#t8{
    width: 85%;
    margin-left: 15%;
    font-size: 17px;
    line-height: 40px;
    display: none;
    padding-top: 2%;
}
#t8 input{
    line-height: 20px;
}
.outer{
    width:100%;
    height:60px;
    margin-top: 2%;
}
#qr{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    text-align:center;
    line-height:40px;
    margin-left: 25px;
    color: white;
}
#qr:hover{
    cursor: pointer;
}
#qx{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    margin-left:170px;
    text-align:center;
    line-height:40px;
    color: white;
}
#qx:hover{
    cursor: pointer;
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
footer{
    width:80%;
    height:60px;
    background:#f2f2f2;
    margin:0 auto;
}
/***************footer style***************/

>>>>>>> ba23b36d13648be6805e6ab3770f5b9542927c76
=======
/***************common style***************/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
.clear{
    clear: both;
}
/***************common style***************/
/***************header style***************/

/***************header style***************/
/***************main style***************/
main{
    width:80%;
    height:830px;
    margin:0 auto;
    background:#f2f2f2;
}
/***************main_t style***************/
.main_t{
    width:100%;
    height:190px;
    margin-top:10px;
}
.images{
    width:15%;
    height:190px;
    float:left;
}
.message{
    width:84%;
    height:120px;
    float:right;
    margin-top:70px;
    background:white;
}
/***************main_t style***************/
/***************main_b style***************/
.main_b{
    width:100%;
    height:630px;
}
.main_b_l{
    width:16%;
    height:630px;
    margin-top:10px;
    margin-left:1px;
    float:left;
    background:white;
}
.main_b_r{
    width: 82%;
    min-height: 110%;
    height:auto;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
    background-color: white;
}
.nav1{
    width:100%;
    height:60px;
    margin-bottom:2px;
    text-align:center;
    line-height:60px;
    position:relative;
}
.nav1 p img{
    position:absolute;
    left:10px;
    top:6px;
}
#r1{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
#k1{
    display:block;
}
#k2{
    width:100%;
    height:540px;
    display:none;
}
#k3{
    width:100%;
    height:540px;
    display:none;
}
#r2{
    width:100%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}
#r2 table tr{
    border:1px solid #f2f2f2;
}
#r3{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}

#r4{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;

}
#r5{
    width:82%;
    height:630px;
    margin-top:10px;
    background:white;
    float:right;
    margin-right:1px;
}
.main_b_r_t{
    width:100%;
    height:58px;
}
.word1{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left;
    background:#00bc9b;
}
.word1 p{
    color:white;
}
.word1 a{
    color:white;
}
.word2{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word3{
    width:150px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.word4{
    width:120px;
    height:58px;
    text-align:center;
    line-height:58px;
    float:left
}
.hr{
    width:100%;
    height:2px;
    background:#00bc9b;
}
.main_b_r_b{
    width:100%;
    height:540px;
}
.lesson{
    width:100%;
    height:130px;
    margin-top:10px;
}
.lesson_l{
    width:25%;
    height:130px;
    float:left;
}
.lesson_r{
    width:72%;
    height:130px;
    float:right;
}
.lesson_r p{
    margin-top:3px;
}
.note{
    width:100%;
    height:100px;
    background:#fffbf4;
    margin-top:10px;
}
.note_l{
    width:9%;
    height:90px;
    float:left;
    padding-top:10px;
    padding-left:1%;
}
.note_r{
    width:90%;
    height:100px;
    float:right;
}
.note_r p{
    margin-top:3px;
}
.r5_t{
    width:100%;
    height:60px;
}
.r5_t .h3{
    width:30%;
    height:60px;
    text-align:center;
    line-height:60px;
    float:left;
}
.r5_t .h3 p{
    font-size:20px;
}
.r5_t .bj{
    width:10%;
    height:60px;
    margin-right:10px;
    background:orange;
    float:right;
    text-align:center;
    line-height:60px;
}
.r5_t .bj p{
    color:white;
}
.r5_b{
    width:80%;
    height:480px;
    margin:0 auto;
}
#g3{
    width:80%;
    height:480px;
    margin:0 auto;
    display:none;
}
.outer{
    width:100%;
    height:60px;
}
#qr{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    text-align:center;
    line-height:40px;
}
#qx{
    width:70px;
    height:40px;
    background:orange;
    float:left;
    margin-left:80px;
    text-align:center;
    line-height:40px;
}
td{
	text-align:center;
}
/***************main_b style***************/
/***************main style***************/
/***************footer style***************/
/* footer{
    width:80%;
    height:60px;
    background:#f2f2f2;
    margin:0 auto;
} */
/***************footer style***************/

>>>>>>> 8b686c47d14ac368571e08f4b308c03cc9fa9818
